.inner{
    height: 520px;
    width: 650px;
    background: ghostwhite;
    margin: 0px auto;
    position: relative;
    top: 100px;
    left: -340px;

}

@media screen and (max-width: 1200px) {
    .inner{
        background: ghostwhite;
        margin: 0px auto;
        position: relative;
        top: 150px;
        left: 0px;
    }
  }